*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#imagen{
    width: 165px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: -20px;
}

#ser{
  color: rgb(39, 134, 151);
  margin: 0;
}

#texto{
  padding: 2%;
  text-align: center;
  font-size: 35px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

@keyframes slidein {
from {
  height: 1px;
  width: 1px;
}

to {
  height: auto;
  width: 100%;
}
}
/*header*/
.menu_bar {
	display:none;
}
header {
    width: 100%;
    height: 100px;
    max-height: 100px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

header nav {
    width: 100%;
    height: 100px;
    max-height: 100px;
    float: left;
    display: flex;
    text-decoration: none;
    padding-left: 20px;
}


header nav a{
    text-decoration: none;
    overflow-y: hidden;
    font-family: Mallory book;
    font-size: large;
    font-size: 20px;
    color: #808080;
}

.palo{
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    padding: auto;
}

.baner{
    padding: 0px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

.c{
    width: auto;
    height: auto;
    padding: 0px;
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

.img{
    width: 40px;
}

@media screen and (max-width: 1400px) {
	.baner{
        font-size: 18px;
        margin-left: 2%;
        margin-right: 2%;
    }
}

/*carrucel*/
.slider input{
    visibility: hidden;
    display: none;
}

.slider{
    position: relative;
}

.buttons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 5%;
    gap: 10px;
}

.buttons label{
    width: 12px;
    height: 12px;
    cursor: pointer;
    z-index: 1;
    border-radius: 12px;
    border: 2px solid #808080;
}

.buttons label:hover{
    background-color: #999999;
}

.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3),
.slider input:nth-child(4):checked ~ .buttons label:nth-child(4)
{
    background-color: #999999;
    border: hidden;
    width: 14px;
    height: 14px;
    animation: botones 25s infinite alternate ease-in-out;
}

.content{
    position: relative;
    width: 400vw;
    display: flex;
    transition: 400ms ease-in-out;
}



.firstslide,.secondslide,.thirdslide,.fourslide{
    position: relative;
    width: 100vw;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstslide{
    background-image: url("../imagenes/fondo.jpg");
    background-size: 100% 100%;
    text-align: right;
}

.secondslide{
    background-image: url("../imagenes/fondo.jpg");
    background-size: 100% 100%;
}

.thirdslide{
    background-image: url("../imagenes/fondo.jpg");
    background-size: 100% 100%;
}

.fourslide{
    background-image: url("../imagenes/fondo.jpg");
    background-size: 100% 100%;
}

.slider input:nth-child(1):checked ~ .content{
    left: 0;
}

.slider input:nth-child(2):checked ~ .content{
    left: -100vw;
}

.slider input:nth-child(3):checked ~ .content{
    left: -200vw;
}

.slider input:nth-child(4):checked ~ .content{
    left: -300vw;
}

@keyframes slide{
    0%{
        left: 0;
    }
    25%{
        left: 0;
    }

    30%{
        left: -100vw;
    }
    50%{
        left: -100vw;
    }

    55%{
        left: -200vw;
    }
    75%{
        left: -200vw;
    }
    80%{
        left: -300vw;
    }
    100%{
        left: -300vw;
    }
}

.banerp{
    padding: 2%;
    text-align: left;
    font-size: 25px;
    font-family: Mallory b;
    width: 100%;
    margin-left: 55%;
    margin-right: 4,5%;
    color: #FFF;
}

.banerp h2{
    font-family: mallory bi;
    font-size: 45px;
}

.banerp p{
    font-family: mallory l;
    font-size: 25px;
}

.firstslide img{
    padding: 2%;
    width: 50%;
}

.secondslide img{
    padding: 2%;
    width: 50%;
}

.thirdslide img{
    padding: 2%;
    width: 50%;
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 55px;
    bottom:25px;
    right:25px;
    background-image: url("../logo/whatsapp.png");
    border-radius:50px;
    text-align:center;
}

.btn-wsp:hover{
    transition: 0.9s;
    background-image: url("../logo/whatsapp\ 2.png");
}

.servicios{
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
    display: block;
    font-size: 45px;
}

.servicios img{
    width: 100%;
    height: auto;
}

.azul{
    font-family: Mallory bi;
    color: #0E9FD8;
}

.azul2{
    font-family: Mallory l;
    color: #0E9FD8;
}
.contenedor{
    width: 100%;
    margin-bottom: -4%;
    background-color: #FFF;
    display: flex;
}

.contenedor2{
    width: 100%;
    background-color: #FFF;
    display: flex;
}

.textos{
    width: 20%;
    height: 70px;
    margin: 3%;
    text-align: center;
    overflow: hidden;
}

.trabajo img{
    width: 100%;
    height: auto;
}

.trabajo:hover{
    background-color: #0e9fd8d4;
}

.texto{
    color: #808080;
    font-size: 25px;
    font-weight: bold;
}

.larga{
    width: 180% !important;
    margin-left: -25%;
}

.elegirnos{
    width: 100%;
    height: 380px;
    padding-top: 1%;
    background-color: #0E9FD8;
    background-image: url("../imagenes/PAGINA\ WEB\ SERIN\ PREW-12.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 104%;
    text-align: center;
}

.titulo{
    width: 100%;
    height: auto;
    font-size: 40px;
    padding: 20px;
}

.ele{
    font-family: Mallory bi;
    color: #0871A5;
}

.por{
    font-family: Mallory book;
    color: #0871A5;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
}

.image{
    width: 100%;
    height: 100%;
    max-height: 300px;
    position: relative;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
}

.image2{
    width: 20%;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
}

.image img{
    width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#larga img{
    width: max-content;
    max-width: 400px;
    margin-left: -25%;
}

#foto img{
    margin-top: -20%;
}

.conten{
    width: 100%;
    height: 100%;
    max-height: 300px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(14, 159, 216, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    opacity: 0.6s;
}

.conten a{
    font-family: Mallory b;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.conten2{
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.conten2 p{
    font-family: Mallory b;
    color: #808080;
    text-decoration: none;
    font-size: 23px;
    padding-left: 25px;
    padding-right: 25px;
}

.conten:hover{
    opacity: 1;
}

.conten > *{
    transform:translateY(25px);
    transition:transform 0.6s;
}

.conten:hover > *{
    transform: translate(0px);
}

.icon{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.icon2{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.icon3{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.iconos{
    width: 450px;
    height: 130px;
    align-items: center;
    overflow: hidden;
}

.iconos2{
    width: 450px;
    height: 60px;
}

.iconos3{
    width: 400px;
    height: 80px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
}

.iconos2 p{
    font-family: Mallory b;
    color: #ffffff;
    text-decoration: none;
    font-size: 23px;
    padding: 18px;
    padding-bottom: 0;
}

.iconos3 p{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
}

.iconos img{
    width: 130px;
    height: auto;
}

.estudios{
    width: 100%;
    height: 450px;
    display: flex;
    margin-top: 2%;
}

.button-container{
    overflow: hidden;
}

.leyendo{
    width: 50%;
    display: block;
    text-align: center;
    justify-content: center;
    padding: 50px;
    overflow: hidden;
}
.leyendo a{
    font-family: MALLORY l;
    color: #0E9FD8;
}

.leyendo h1{
    font-family: MALLORY b;
    font-size: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color: #0E9FD8;
}

.leyendo p{
    font-family: Mallory book;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 55px;
    color: #808080;
}

.boton{
    width: 350PX;
    height: auto;
    margin-top: 30px;
    background-color: #0E9FD8;
    font-family: Mallory b;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    color: #FFF;
    border: 0px;
    border-radius: 20px;
    box-shadow: 5px 5px 3px #80808053;
}

.video{
    width: 600px;
    height: 350px;
    overflow: hidden;
    margin-right: 2%;
    margin-top: 5%;
}

video{
    width: 100%;
    height: 350px;
}

.servicios3{
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    font-size: 45px;
}

@font-face {
    font-family: Mallory book;
    src: url("../letras/Mallory\ Book.ttf");
}

@font-face {
    font-family: Mallory l;
    src: url("../letras/Mallory\ Light.ttf");
}

@font-face {
    font-family: Mallory bi;
    src: url("../letras/Mallory\ Black\ Italic.ttf");
}

@font-face {
    font-family: Mallory b;
    src: url("../letras/Mallory\ Bold.ttf");
}

footer{
    width: 100%;
    height: 250px;
    display: flex;
    background-color: #0E9FD8;
}

.logo{
    width: 25%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo img{
    width: 80%;
    padding: 20px;
    margin-top: -40px;
}

.arriba{
    font-family: Mallory book;
    color: #FFF;
    font-size: 22px;
    padding-top: 15px;
    width: 25%;
}

.arriba p{
    padding-top: 12px;
    padding-bottom: 12px;
}

.contacto{
    width: 25%;
}

.fila{
    display: flex;
    font-family: Mallory book;
    color: #FFF;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.contacto img{
    width: 23px;
    height: 23px;
    padding-right: 10px;
}

.redes{
    width: 20%;
    margin-left: 5%;
    overflow: hidden;
    background-image: url("../imagenes/PAGINA\ WEB\ SERIN\ PREW-12.png");
    background-size: 250px 100%;
    background-position: 70px;
    background-repeat: no-repeat;
}
.terminos{
    height: 60%;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 10px;
    color: #FFF;
}

.red{
    height: 40%;
}

.red img{
    width: 45px;
    height: auto;
    margin-left: 20px;
    cursor: pointer;
}
/*carrucel 2*/

.slide {
    position: relative;
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 330px + 3em);
}

.slide-open:checked + .slide-item{
    position: static;
    opacity: 100;
}

.slide-item{
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    display: flex;
    padding: 0 40px;
}

.slide-item #p1 {
    display: block;
    height: 360px;
    max-width: 100%;
    width: 25%;
    margin: 0 55px;
    text-align: center;
}

.slide-item img{
    height: 260px;
    width: 400px;
}

.slide-item p{
    color: #808080;
    font-family: Mallory b;
    font-size: 23px;
    margin-top: 10px;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
    top: 35%;
}

.slide-control.next {
    right: 2%;
    top: 35%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

/*experiencia de clientes*/

.expe{
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.expe img{
    width: 100%;
}

